footer{
   position: relative;
    background-color: #0f0f3b !important;
   
}
.center-footer{
    width: 1150px ;
padding-right: 0;
padding-left: 0;

margin-left: auto;
margin-right: auto;
display: inline-flex;
color: white;
}
.ujl{
    list-style-type: none;
}
.social-link{
    color: orange;
    margin: 7px;
}
.social-link:hover{
    text-decoration: none;
    color: white;
}
.social-link-list{
   display: inline-flex;
}